
/* Reset */

* {
    margin: 0;
    padding: 0;
}


body {
    color: #ffffff;
    background-color: #2E858C;
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
   background-color: #093A3E;
   padding-bottom: 2px;
   display: block;
}

article {
    display: flex;
    justify-content: space-around;
}

article img {
    display: block;
    padding: 20px;
    width: 438px;
    height: 290px;
}

article p {
    display: block;
    padding: 20px;
    font-size: 30px;
}

h1 {
    margin: 20px;
    background-color: #093A3E;
    text-align: center;
    padding: 5px;
    font-size: 35px;
}

/* Estilos Footer */
 
footer {
    background-color: #174A4A;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;  

}

footer section {
    display: block;
    padding-bottom: 20px;
    }

footer section ul {
    list-style-type: none; 
    padding-right: 10px;
}

footer section img {
    width: 376;
    height: 100; 
    padding-left: 10px;
}

a {
    color: #ffffff;
    text-decoration: none   ;
}

nav {
    text-align: right;
}

.itemNav {
    color: #ffffff;
    display: inline;
    margin: 5px;
    font-size: 20px;
}

.main_index {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.main_index h1 {
    grid-column: 1/3;
    align-self: flex-start;
}

.main_index p {
    align-self:flex-start;
    font-size: 2rem;
    padding: 1em;
}

.main_index img {
    align-items: right;
    margin-left: 35px;
    padding-bottom: 25px;
}

.main_servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.main_servicios h1 {
    grid-column: 1/4;
    align-self: flex-start;
}

.main_servicios p {
    font-size: 25px;
}

.main_servicios article {
    display: flex;
    flex-direction: column;
}


h2 {
    margin: 10px;
    background-color: #6BBCC2;
    text-align: center;
    padding: 15px;
    font-size: 25px;
 }

 /* Estilos Clientes */

 .clientes_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    list-style-type: none;
 }
 

.clientes_list li {
    background-color: #6BBCC2;
    padding: 15px;
    margin: 15px;
    width: 250px;
}

.clientes_p {
    margin: 5px;
    text-align: center;
    padding: 5px;
    font-size: 25px;
}

/* Estilos Contacto */

form {
    display: flex;
    flex-direction: column;
}
.contacto_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

input  {
    background-color: #6BBCC2;
    color: #ffffff;
    font-size: 15px;
    margin: 10px;
    padding: 10px;  
    border: 0px;
}

textarea {
    background-color: #6BBCC2;
    color: #ffffff;
    font-size: 15px;
    margin: 8px;
    padding: 10px;
    border: 0px;
}

::placeholder {
    color: #ffffff;
}

.contacto_enviar {
    display: block;
    margin: 10px;
    background-color: #093A3E;
    text-align: center;
    padding: 5px;
    font-size: 35px;
    width: 95%;
}

.contacto_formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Resposive */

@media screen and (max-width: 480px) {

        .main_index {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .main_index h1 {
            align-self: center;
            justify-self: center;
            margin: 0px;
            margin-top: 10px;
            width: 90%;
        }

        .main_index p {
            text-align: justify;
        }

        .main_nosotros {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .main_nosotros h1 {
            align-self: center;
            justify-self: center;
            margin: 0px;
            margin-top: 10px;
            width: 90%;
        }

        .main_nosotros article {
            display: flex;
            flex-direction: column;
        }

        .main_nosotros p {
            text-align: justify;
            font-size: 20px;
        }

        .main_servicios {
            display: flex;
            flex-direction: column;
            justify-content: center; 
        }

        .main_servicios h1 {
            align-self: center;
            justify-self: center;
            margin: 0px;
            margin-top: 10px;
            width: 90%;
        }

        .main_contacto {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .contacto_formulario {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .contacto_section {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }

        footer section {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        footer section p {
        text-align: center;
        }

        footer section ul {
            text-align: center;
        }


}