* {
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    background-color: #2E858C;
    
}

header {
   background-color: #093A3E;
   padding-bottom: 2px;
   display: block;
}

article {
    display: flex;
    justify-content: space-around;
}
article img {
    display: block;
    padding: 20px;
    width: 438px;
    height: 290px;
}
article p {
    display: block;
    padding: 20px;
    font-size: 30px;
}

h1 {
    margin: 20px;
    background-color: #093A3E;
    text-align: center;
    padding: 5px;
    font-size: 35px;
}
 
footer {
    background-color: #174A4A;
    display: flex;
    padding: 20px;
    justify-content: space-between;

}

footer section {
    display: block;
    }

footer section ul {
    list-style-type: none; 
}

footer section img {
    width:376;
    height: 65;
}

a {
    color: #ffffff;
    text-decoration: none   ;
}

nav {
    text-align: right;
}

.itemNav {
    color: #ffffff;
    display: inline;
    margin: 5px;
    font-size: 20px;
}

.servicios_section { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.servicios_article {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 10px;
    background-color: #6BBCC2;
    text-align: center;
    padding: 15px;
    font-size: 25px;
    
 }

 .clientes_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    list-style-type: none;
 }

.clientes_list li {
    background-color: #6BBCC2;
    padding: 15px;
    margin: 15px;
    width: 250px;
}

.clientes_p {
    margin: 5px;
    text-align: center;
    padding: 5px;
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
}
.contacto_section {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 15px;
    width: 100%;
    justify-content: space-between;

}

input  {
    background-color: #6BBCC2;
    color: #ffffff;
    font-size: 15px;
    margin: 10px;
    padding: 10px;  
    border: 0px;
}

textarea {
    background-color: #6BBCC2;
    color: #ffffff;
    font-size: 15px;
    margin: 8px;
    padding: 10px;
    border: 0px;
}

::placeholder {
    color: #ffffff;
}

.contacto_enviar {
    display: block;
    margin: 10px;
    background-color: #093A3E;
    text-align: center;
    padding: 5px;
    font-size: 35px;
    width: 95%;
}

.contacto_formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
