/* Estilos Contacto */

form {
    display: flex;
    flex-direction: column;
}

.contacto_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

input  {
    background-color: $secondary-color;
    color: #ffffff;
    font-size: 1.6rem;
    margin: 1em;
    padding: 0.5em;  
    border: 1em;

    &:focus {
        outline-color:#289c6c;
    }
}


textarea {
    background-color: $secondary-color;
    color: #ffffff;
    font-size: 1.6rem;
    margin: 1em;
    padding: 0.5em;
    border: 1em;

    &:focus {
        outline-color: #289c6c;
    }
}


::placeholder {
    color: #ffffff;
}

.contacto_enviar {
    display: block;
    margin: 0.5em;
    background-color: $primary-color;
    text-align: center;
    padding: 0em;
    font-size: 2rem;
    width: 95%;
}

.contacto_formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}