/* Estilos Contacto */

form {
    display: flex;
    flex-direction: column;
}


input  {
    @include colorTexto(#ffffff, map-get($colores, secundario));

    font-size: 1.6rem;
    margin: 1em;
    padding: 0.5em;  
    border: 1em;

    &:focus {
        outline-color:#289c6c;
    }
}


textarea {
    @include colorTexto(#ffffff, map-get($colores, secundario));

    font-size: 1.6rem;
    margin: 1em;
    padding: 0.5em;
    border: 1em;

    &:focus {
        outline-color: #289c6c;
    }
}


::placeholder {
    color: #ffffff;
}


.contacto_enviar {
    display: block;
    margin: 0.5em;
    background-color: map-get($colores, primario);
    text-align: center;
    padding: 0em;
    font-size: 2rem;
    width: 95%;
}


.contacto_formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.contacto_section {
    @extend .contacto_formulario;
    flex-direction: column;
    width: 100%;
}